/* -------------------------------------------------------------------------- */
/*                                Color Palette                               */
/* -------------------------------------------------------------------------- */

/* ------------------------------- Background ------------------------------- */
$bg-primary: #101010;
$bg-secondary: #252525;
$bg-accent: #6D6D6D;
/* -------------------------------------------------------------------------- */

/* ---------------------------------- Text ---------------------------------- */
$text-primary: #E6E6E6;
$text-secondary: #9F9F9F;
/* -------------------------------------------------------------------------- */

/* ----------------------------- Primary Accent ----------------------------- */
$primary-accent: #4DB6AC;
$secondary-accent: #00796B;
/* -------------------------------------------------------------------------- */
