/* -------------------------------------------------------------------------- */
/*                          Color Palette Dark Theme                          */
/* -------------------------------------------------------------------------- */

/* ---------------------------- Background color ---------------------------- */
.bg-primary-dt {
    background-color: $bg-primary;
}

.bg-secondary-dt {
    background-color: $bg-secondary;
}

.bg-accent-dt {
    background-color: $bg-accent;
}

/* ------------------------------- Text color ------------------------------- */
.text-primary-dt {
    color: $text-primary;
}

.text-secondary-dt {
    color: $text-secondary;
}

/* ----------------------------- Primary Accent ----------------------------- */
.primary-accent {
    color: $primary-accent;
}

.secondary-accent {
    color: $secondary-accent;
}

.link {
    color: $primary-accent;
}
